.title-input {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 21px;
  width: 100%;
  margin-bottom: 26px;
}

.title-span {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title-h2 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.title-edit-icon {
  align-self: center;
  color: #000000;
  display: none;
  padding-left: 5px;
}

.title-span:hover .title-edit-icon {
  display: inline;
}

@media (min-width: 312px) and (max-width: 375px) {
  .title-h2 {
    font-size: 1rem;
  }

  .title-input {
    font-size: 1rem;
  }
}

@media (min-width: 2482px) and (max-width: 2560px) {
  .title-h2 {
    font-size: 1.8rem;
  }

  .title-input {
    font-size: 1.8rem;
  }
}
