.card-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* margin: 2rem auto; */
  width: 100%;
  /* align-items: center; */
  justify-items: center;
  /* min-height: 100vh; */
}

.sort-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
}

.sort-container .dropdown {
  align-self: center;
  height: 20px;
}

@media (min-width: 810px) and (max-width: 1200px) {
  .card-list-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 811px) {
  .card-list-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

@media (min-width: 1763px) {
  .card-list-container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media (min-width: 2482px) and (max-width: 2560px) {
  .card-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
}
