* {
  box-sizing: border-box;
}


.card-container {
  width: 390px;
  height: 250px;
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 5px;
  transition: transform 0.25s ease-out;
  background-color: #e6e6e9;

  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 2px 5px 17px 2px rgba(0, 0, 0, 0.73);
  box-shadow: 2px 5px 17px 2px rgba(0, 0, 0, 0.73);
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container h2 {
  justify-self: flex-start;
  text-align: center;
  height: auto;
  font-size: 1.2rem;
  color: #000000;
}

.card-container p {
  flex: 1;
  font-size: 0.9rem;
  color: #000000;
  overflow-wrap: break-word;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.btn-container .btn-delete {
  color: #000000;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.btn-container .btn-delete:hover {
  color: #66666e;
}

.btn-container .btn-edit {
  color: #000000;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.btn-container .btn-edit:hover {
  color: #66666E;
}
