.header-container {
  margin: 3rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.25s ease-out;
}

.logo-container img:hover {
  -webkit-box-shadow: 3px 9px 48px -13px rgba(0, 255, 255, 0.58);
  box-shadow: 3px 9px 48px -13px rgba(0, 255, 255, 0.58);
}

.logo-container h1 {
  color: #f4f4f6;
}

@media (min-width: 810px) and (max-width: 1200px) {
  .header-container {
    width: 100%;
  }
}
