/* * {
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  gap: 5rem;
  background-color: #e6e6e9;
  border-radius: 1rem;
  padding: 1rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 4rem;
  height: 4rem;
}

.footer-logo h3 {
  color: #000000;
}

.app-description {
  height: 100%;
}

.app-description p {
  font-size: 0.8rem;
  text-overflow: inherit;
  color: #000000;
  text-align: center;
}

.app-description p .extra-text {
  display: none;
}

.copywrite-details {
  min-width: 9rem;
}

.copywrite-details p {
  color: #000000;
}

.git-button {
  color: #000000;
}

.git-button:hover {
  color: #66666e;
} */

/*

@media (min-width: 312px) and (max-width: 482px) {
  .footer-container {
    gap: 0;
    justify-content: space-between;
  }

  .app-description {
    display: none;
  }

  .copywrite-details p {
    font-size: 0.6rem;
  }

  .copywrite-details .git-button {
    width: 15px;
  }

  .footer-logo img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer-logo h3 {
    font-size: 0.8rem;
  }
}
*/

/*
@media (min-width: 483px) and (max-width: 734px) {
  .footer-container {
    gap: 0;
    justify-content: space-between;
  }
  .app-description {
    display: none;
  }

  .footer-logo img {
    width: 3rem;
    height: 3rem;
  }

  .footer-logo h3 {
    font-size: 1rem;
  }

  .copywrite-details p {
    font-size: 0.9rem;
  }
}

@media (min-width: 2482px) and (max-width: 2560px) {
  .footer-container {
    gap: 60px;
    /* justify-content: space-between; */
/*}



  .app-description p .extra-text {
    display: inline;
  }

  .app-description p {
    font-size: 0.9rem;
  }

  .footer-logo img {
    width: 5rem;
    height: 5rem;
  }

  .footer-logo h3 {
    font-size: 1.2rem;
  }

  .copywrite-details p {
    font-size: 1rem;
  }
}*/
